<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">My Blog</h1>
    <p class="lead blog-description">Welcome to my blog. Here, you can find helpful coding, math, and gaming tips and tricks!</p>
    <%= link_to 'Write a new blog', new_blog_path, class: "btn btn-info" if logged_in?(:site_admin) %>
  </div>
</div>