<div class="app-card-container">
  <div class="card">
    <h2>About Me</h2>

    <hr>
    
    <div class="row">
      <div class="col-md-4">
        
        <%= image_tag "AK.png", width: 180, alt: "profile image", class: "profile-img" %>
        
      </div>
      <div class="col-md-8">
        <p>I'm Aakash, I study at Hillcrest High School. I love math, physics, coding, and every sport. With over 10 hours of videos on Math watched, you can trust me that I will give the right answer. I work hard, and daily, and the thing that keeps me going is my passion for this stuff. Thanks for visiting, though!</p><br>
        <p>"Live like you never did, work like you always did." - <b>Aakash Kulkarni 2017</b></p>
      </div>
    </div>
  </div>
</div>




